.button {
  font-family: var(--type-first);
  background-color: #fb1;
  padding: 0.8rem 1.2rem;
  color: #764701;
  border: none;
  border-radius: 0.4rem;
  min-width: 8rem;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.button:hover, .button:focus {
  box-shadow: 0 0 0 2px #fea, 0 0 0 3px #fb1;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
  box-shadow: initial;
}