.wrapper {
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid #eee;
  background-color: #eee;
  transition: 0.1s;
  margin-top: 0.4rem;
}

.input:hover, .input:focus {
  background: white;
  border-color: #fb1;
  box-shadow: 0 0 3px #fea;
}

.label {
  display: block;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
